header {
    background-color: #6f5499;
    color: #cdbfe3;
    text-align: center;
    
       
}

#homepage-header {
    background-image: url("https://codehs.com/uploads/237dda358447ce3dc67e910bed0823ce");
    
    color: black
}

header h1 {
    color: #FFF;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    height: 175px;
}

.food:hover{
    font-size:20px;
    transition:0.5s;
}

.picture {
    margin:1em;
    transition: transform 1s;
   
}
.picture:hover {
    transform:rotate(360deg)
}
.shadow-filter1 {
    filter: drop-shadow( 14px 14px 14px #44FF6A);

}
.shadow-filter2 {
    filter: drop-shadow( 14px 14px 14px #FA2883);

}
.shadow-filter3{
    filter:drop-shadow( 14px 14px 14px #FD9BFF);
}
.shadow-filter4{
    filter:drop-shadow( 14px 14px 14px #C31BFF);
}
.shadow-filter5{
    filter:drop-shadow( 14px 14px 14px #0FDA00);
}
.shadow-filter6{
    filter:drop-shadow( 14px 14px 14px #30D8D0);
}
.shadow-filter7{
    filter:drop-shadow( 14px 14px 14px #00AEDA);
}
